.secondary-h1-header {
  margin: 0;
  padding-left:0;
}

.app-hero {
  background-color:rgb(241,241,241);
}
.app-hero h1 {
  color:#aa1111;
}

.app-hero .lead {
  color:rgb(31,31,31);
}

.app-hero img {
  margin-top:40px;
}

.nav-link a {
  color: #00ff00;
}

.platform-menu a {
  color:white; 
  padding: 0em 1em 0em 0em;
}