.secondary-h1-header {
  margin: 0;
  padding-left:0;
}

.app-hero {
  background-color:rgb(3,96,166);
}
.app-hero h1 {
  color:#ffffff;
}

.app-hero img {
  margin-top:40px;
}

.nav-link a {
  color: #00ff00;
}
