{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-11">

        <h1>Analysts and researchers</h1>
        <p>
          The land and property platform can help and support you with your 
          analysis and research so that you reach effective conclusions.
        </p>
        <p>
          There are two key ways to use the platform for analysis or research:
        </p>
        <ul>
          <li>Access and download data through the secure API</li>
          <li>Request direct analytical support</li>
        </ul>
      </div>
    </div>
  </div>
{% include "_footer.html" %}