{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-11">

        <h1>REST API Documents</h1>
        <p>
          This documentation is for developers interested in using the Land and property API.</p>
          <p>
            You can use it to integrate directly with the API or learn more about our libraries.
        </p>

        <h2>Base URL</h2>
        <strong><p style="background: #f9f9f8">https://api.land-property-platform.herokuapp.com/</p></strong>

      </div>
    </div>
  </div>
{% include "_footer.html" %}