{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-11">

        <h1>Getting started with the API</h1>

        <h2>Try the live API explorer</h2>
        <p>
          You can use the <a href="/docs">API explorer</a> to try out the API or [read the full API documentation.](https://welsh-revenue-authority.github.io/property_platform_app/).
        </p>

        <h2>Code libraries</h2>
        <p>We maintain code libraries in <a href="#">Python</a>, <a href="#">C#</a> and <a href="#">Java</a></p>

      </div>
    </div>
  </div>
{% include "_footer.html" %}