{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-13">

        <h1>Features</h1>
        <p>
          If you are designing and building public services you can use the 
          land and property platform to use property and land information
          within your product or service.
        </P>
        <p>You can also use the platform for analysis and research purposes with many data sets being freely available
          to download.
        </p>
        <p>The land and property platform makes it easy to:
          <ul>
            <li>Use land and property information in your product or service</li>
            <li>Download datasets for offline analysis and research</li>
          </ul>

        <h2>API integration</h2>
        <p>You can integrate the Land and property API with your web application 
          or back-office system to use land and property information in your service.
        </p>
        <p>
          <a href="#">Get started with the API.</a>
        </p>
        <h2>Analysis and research</h2>
        <p>You can use the platform to download data sets for further analysis and research helping you reach trusted conclusions.</p>
        <p>
          <a href="/datasets">Learn more about the available data.</a>
        </p>
        <h2>Performance</h2>
        <p>The land and property platform commits to 99% availability through both our API and web applications.</p>
        <p>
          Vist our <a href="#">performance data</a> page to see how the platform is performing.
        </p>
        <h2>Security</h2>
        <p>The land and property platform protects and manages data to meet the needs of Government services and Data Protection Act 2018.</p>
        <p>
          Vist our <a href="#">security</a> page to learn more about how we keep data secure.
        </p>
      </div>
    </div>
  </div>
  {% include "_footer.html" %}