{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-11">

        <h1>Pricing</h1>
        <p>
          This is a proof of concept platform and does not contain real data.
        </p>
        <p>
          The land and property platform is <strong>free</strong> to use unless you;
          <ul>
            <li>Access to certain datasets</li>
            <li>Make a very high number of requests</li>
          </ul>

        <h2>Datasets</h2>
        <p>
          Most of the data available through the land and property platform is free to use 
          either through our API or in form of downloads.
        </p>
        <p>
          <a href="/datasets">Learn more about the available data and download sample datasets.</a>
        </p>


      </div>
    </div>
  </div>
{% include "_footer.html" %}