{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-8">

        <h1>Getting started</h1>
        <p>
          The land and property data platform is for service delivery teams and 
          data analysts at the Welsh Revenue Authority and wider public sector in Wales. Some information, such as tax zones, is available as open data and can be used by anyone.
        </p>
        <h2>Try the API now</h2>
        <p>
          You don't need to create an account to get started with our API. However, you will be asked to create an account to access some datasets where licensing restrictions apply.
          For some closed datasets, there will be additional verification steps for your account.
          Without an account, the API will return synthetic sample data, so you can still try it out.
        </p>
        <p><a href="/api-docs">Start exploring the API now</a></p>
        <h2>Pricing</h2>
        <p>
          The land and property platform is <strong>free</strong> to use unless you:
        </p>
        <ul>
          <li>need access to certain datasets</li>
          <li>make a very high number of requests</li>
        </ul>
        <h2>Who's using the platform?</h2>
        <ul>
          <li>The Welsh Revenue Authority</li>
        </ul>
      </div>
    </div>
  </div>
{% include "_footer.html" %}