{% include "_header.html" %}

  <!--Hero--->
    <section class="app-hero" id="intro">
      <div class="app-hero__content container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <h1>Find property and land information for Wales that is easy to understand, use and trust</h1>
            <p class="lead">A platform to help teams at the Welsh Revenue Authority and across Wales design better public services and inform policy decisions</p>
          </div>
          <div class="col-lg-4">
            <img src="/static/images/proposition-image.png" srcset="/static/images/proposition-image.svg" alt="A graphic represent the data platform, showing a map and different types of data file such as CSV and JSON" class="app-hero__image">
          </div>
        </div>
      </div>
    </section>

    <div id="main__body" class="main__body container-fluid home">
      <!--Documentation-->
      <div class="row">
        <div class="col-lg-6">
          <h2>Get started with the API</h2>
          <p>Integrate the land and property API with your web application or back office system.</p>
          <p>
            <a href="/getting-started">View the API documentation, explorer and code libraries</a>
          </p>
        </div>
        <div class="col-lg-6">
          <img  class="product-image" srcset="/static/images/api.svg" alt="An illustration depicting an API, showing a terminal command prompt" class="app-max-width--100">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h2>Learn more about the data</h2>
          <p>
            Explore the data that can be accessed via the platform, which organisations are custodians of different datasets. Understand how access to open, closed and shared data is controlled securely.
          </p>
          <p>
            <a href="/data">Explore the data</a>
          </p>
        </div>
        <div class="col-lg-6">
          <p><img  class="product-image" src="http://www.digital-land.info/static/images/datasets.png" srcset="/static/images/datasets.svg" alt="An illustration depicting a dataset page with a title of 'What is this data about'" class="app-max-width--100"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <hr>
          <h2>Government analysts and policymakers</h2>
          <p>Discover how the platform can support your analysis and policymaking in Wales.</p>
          <p>
            <a href="/analysts">Discover how the platform can support analysis and policymaking</a>
          </p>
        </div>
      </div>
    </div>
    {% include "_footer.html" %}