{% include "_header.html" %}
  <div id="main__body" class="main__body container-fluid home">
    <div class="row">
      <div class="col-lg-8">

        <h1>Explore the platform</h1>
        <p>
          This is a proof of concept platform and does not contain real data.
          We are exploring how to make data and rules available via APIs.
        </p>
        <h2>Complete</h2>
        <ul>
          <li>Which tax zone a property is in</li>
        </ul>
        <h2>In progress</h2>
        <ul>
          <li>Tax zones</li>
          <li>Property information</li>
          <li>Calculating tax</li>                    
          <li>Which schedule and band is a property in</li>
        </ul>

        <h2>Backlog</h2>
        <ul>
          <li>Is a property in Wales or not?</li>
          <li>Price sold data</li>
          <li>Energy perfomance data</li>
          <li>Tourism register</li>
          <li>Second homes</li>
        </ul>
      </div>
    </div>
  </div>
  {% include "_footer.html" %}